.profitHeader{
    text-align: center;
    display: flex;
    border-bottom: 1px solid black;
    margin: 10px 10px;
    padding-bottom: 10px;
}

.profitList{
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: #5a5757 solid 5px;
    border-radius: 10px;
}

.dailyProfitList {
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: #5a5757 solid 5px;
    border-radius: 10px;
}

.profitContainer {
    display: flex;
    justify-content: center;
}

.profitLine {
    height: auto;
    width: 3px;
    margin-top: 30px;
    background-color: black;
}
